.header {
    font-size: 2rem;
    font-weight: 400;
    height: 6rem;
}

.navbar{
    padding: .5rem 3rem ;
    height: 100%;
}

.navbar-brand img {
    width: 10rem;
}

.navbar-nav {
    line-height: 0.5;
} 

.navbar-nav .nav-item:first-child {
    border-right: 2px solid rgba(0,0,0,.5);
}
