<h1 class="d-flex justify-content-center p-2">Magic Github Explorer</h1>
<div class="d-flex justify-content-center home">
    <img src="../../assets/img.jpg" alt="" class="col-ms-4 home-img">
    <div class="col-ms-4 home-text" >Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Quis, iusto sequi dignissimos nemo, explicabo deleniti et 
         aperiam nostrum quaerat quo, omnis blanditiis sunt culpa ipsa 
         ea aut? Totam, rem officia!
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Quis, iusto sequi dignissimos nemo, explicabo deleniti et 
         aperiam nostrum quaerat quo, omnis blanditiis sunt culpa ipsa 
         ea aut? Totam, rem officia!
    </div>
</div>